<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 화면</title>
</head>

<body>

<!-- Include the Thymeleaf fragment for the header -->
<!--<div th:replace="layout/header"></div>-->

<h2>관리자 화면</h2>
<p>관리자 권한 확인 용</p>

<!-- Include the Thymeleaf fragment for the footer -->
<!--<div th:replace="layout/footer"></div>-->

</body>

</html>