<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Spring Security Sample 웹서비스</title>
</head>

<body>

<!-- Include the Thymeleaf fragment for the header -->
<!--<div th:replace="layout/header"></div>-->

<h2>Spring Security Sample 웹서비스</h2>

<a href="/posts" role="button" class="btn btn-primary">사용자 컨텐츠 이동</a>

<a href="/login/login" class="btn btn-info active" role="button">로그인</a>

<!-- Include the Thymeleaf fragment for the footer -->
<!--<div th:replace="layout/footer"></div>-->

<script>
    // Your script code here
</script>

</body>

</html>